{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="detail_wrap">
<h3 class="is-size-4 title has-text-centered">
    {{ post.title }}
</h3>
<p class="blog_body">{{ post.body|linebreaks }}</p>
<img src="{{ post.post_img.url }}" alt="" class="promo_img">
<p class="blog_time"> Опубликовано  {{ post.publish }} by {{ post.author }}</p>
    </div>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment {{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
<div class="comment"><div class="info">
    Comment {{ forloop.counter }} by {{comment.name }}
    {{ comment.created }}
</div>
{{ comment.body|linebreaks }}
</div>
    {% empty %}
<p>Еще никто не прокоментировал!</p>>
{% endfor %}
{% if new_comment %}
{% else %}
    <h3>Ваш комментарий был отправлен</h3>
    <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Добавить коммент"></p>


{% endif %}
{% endblock %}