
body{
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 101vh;

}
.blog_wrap{
    border: 2px solid #ff8900;
    margin-bottom: 2em;
    padding: 7px;
    border-radius: 10px;
    background-color: blanchedalmond;
}
.detail_wrap{
    background-color: white;
}
h3, h5{
    font-family: 'Balsamiq Sans';
}
p{
    font-family: 'Andika', sans-serif;
}
.promo_img{
    width: 200px;
    border: 2px solid #ff0000;
}
h5, p{
word-wrap: break-word;
}
