
body{
    background-image: url('/static/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 103vh;

}
.blog_wrap{
    border: 2px solid #ff8900;
    margin-bottom: 2em;
    padding: 7px;
    border-radius: 10px;
    background-color: #7fffa7;
}
.detail_wrap{
    background-color: #a4ffa4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h3, h5{
    font-family: 'Balsamiq Sans';
}
p{
    font-family: 'Andika', sans-serif;
}
.promo_img{
    width: 200px;
    border: 2px solid #ff0000;
    background-color: #332222;
}
h5, p{
word-wrap: break-word;
}
